html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #7dcca1;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

#gameContainer {
  width: 100%;
}

#gameBoard {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#propContainer {
  display: none;
}

.letterFixed {
  border-style: solid;
  border-color: #2e36c4;
  background-color: #55a4cc;
}

.letterContainer {
  padding: 2rem;
  font-size: 4rem;
  margin: 1rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  border-width: 0.3rem;
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
}

.letterInput {
  border-style: dashed;
  background-color: white;
}

.selected {
  border-style: solid;
  border-color: #fffc31;
  background-color: #fffc31;
}

.unselected {
  border-color: black;
}

.valid {
  background-color: greenyellow;
  border-style: solid;
  border-color: yellowgreen;
}

.notValid {
  background-color: #e13700;
  border-style: solid;
  border-color: #ff1d15;
}

.notValidSelected {
  background-color: #e13700;
  border-color: #fffc31;
}

.show {
  transform: scale(12) rotate(720deg);
  -webkit-transform: scale(12) rotate(720deg);
  -moz-transform: scale(12) rotate(720deg);
  -ms-transform: scale(12) rotate(720deg);
  -o-transform: scale(12) rotate(720deg);
  transition: transform 0.7s ease-in-out;
  -webkit-transition: transform 0.7s ease-in-out;
  -moz-transition: transform 0.7s ease-in-out;
  -ms-transition: transform 0.7s ease-in-out;
  -o-transition: transform 0.7s ease-in-out;
}

.notVisible {
  visibility: collapse;
}

#modalContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#winModal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  width: 7rem;
  background-color: white;
  color: aliceblue;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  margin: 0;
  -webkit-text-stroke-width: 0.04rem;
  -webkit-text-stroke-color: black;
}
